@font-face {
  src: url('./fonts/DRAguSans-Black.ttf') format('truetype');
  font-family: "DRAguSans-Black";
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  &:focus {
    outline: none;
  }
}

body {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  overflow: hidden;
  background: #e5e5e5;
}

.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.scratch {
  height: 100vh;
  margin: auto 0;
}
